<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Used only to look up a book cover on Open Library when one can't be
         pulled from the file itself (embedded EPUB cover, or a rendered PDF
         first page). The rest of the app stays fully offline. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:largeHeap="true"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.RapidReader"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.RapidReader">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
